<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MateriaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VICTOR-VB\SQLEXPRESS2;Initial Catalog=Materia;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MateriaEntidades" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VICTOR-VB\SQLEXPRESS2;Initial Catalog=Materia;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Datos.Properties.Settings.MateriaConnectionString"
      connectionString="Data Source=VICTOR-VB\SQLEXPRESS2;Initial Catalog=Materia;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>