<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<connectionStrings>
    <add  name="master" connectionString="Data Source=MARCOS-PC;Initial Catalog=master;Integrated Security=True"/>
  </connectionStrings>--> 
	<system.web>
  <roleManager enabled="true" />
  <compilation debug="true" targetFramework="4.0"/>
    <pages theme="UglyRed"/>
		<authentication mode="Forms">
			<forms name="Login" loginUrl="~/Login.aspx" path="/"/>
		</authentication>
    
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
    <sessionState timeout="30" mode="InProc"/>
	</system.web>
</configuration>
